<html>
    <head>
        <title>Lista de tarefas | Projeto 1</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="tarefas">
            
            <h1 id="tittle1">Adicione suas tarefas diárias</h1>
           
            <form id="formulario" method="post">
                <input id="form" placeholder="Adicione uma tarefa" type="text" name="tarefa"/>
                <input id="btn" type="submit" name="acao" value="inserir">
            </form>


            <% for(let i = 0 ; i < tarefasList.length ; i++){ %>

                <p id="tarefasList"><%= tarefasList[i] %>   |   <a href="/deletar/<%= i %>">X</a> </p>
            
            <% } %>

        </div>
    </body>
</html>